// Importacion Estilos Globales
@import '../EstilosGlobales/EstilosGlobales.scss';


// Estilos propios de Home
.contenedor-Home{
    border-radius: 30px;
    border: 1px solid rgb(151, 144, 144);
    padding: 2%;
    margin: 1%;

    background-image: url('../Imagenes/FondoHome.jpg'), linear-gradient(65deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 19%, rgb(255, 255, 255) 30%, rgb(0, 0, 0) 100%);
    background-color: #00000066;
    background-blend-mode:multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.contenedor-seccion-seleccionarCiudad-Home {
    padding: 10px;
}
.contenedor-seccion-ciudadSeleccionada-Home {
    background: rgba(225, 225, 255, 0.445);
    padding: 10px;
}
.contenedor-seccion-pronosticoExtendido-Home {
    padding: 10px;

    .contenedor-dias-posteriores-Home {
        display: flex;
        flex-flow: row wrap;
    }
    .contenedor-dia-Home {
        padding: 10px;
        margin: 5px;
        background: red;
        width: 100px;
        height: 150px;
    }
}